<%###
# Copyright (c) 2015, Upnext Technologies Sp. z o.o.
# All rights reserved.
#
# This source code is licensed under the BSD 3-Clause License found in the
# LICENSE.txt file in the root directory of this source tree. 
###%>

<% content_for :header_breadcrumbs do %>
  <span><%= link_to t('.title'), beacons_path %></span>
  <span>
    <%= @beacon.name %>
  </span>
<% end %>
<script>

 var beacon = {
    lng:$("#beacon_lng").val(),
    lat:$("#becon_lat").val()
  }
  var mapControl;
  var mapObject;
micello.maps.init("rrVDMQe2qjBRuJP5dXv59kAeK77SD7",mapInit);
function  mapInit()  {
var  mapControl  =  new  micello.maps.MapControl('beacon-map');
window.mapDataObject  =  mapControl.getMapData();
mapObject = new micelloHelper(mapDataObject);
 mapDataObject.mapChanged = onMapChanged;
mapControl.onMapClick = onMapClicked;
        function onMapClicked(mx,my,clicked) {
          var lid =  mapObject.currentLevel();
          var currentMarkers = mapObject.currentLevel().m;
              if(currentMarkers !== undefined){
                mapObject.clearAll();
              }
            if(mx && my){
              mapObject.addMarker(mx,my,lid.id,"test",micello.maps.markertype.NAMED);
              $("#beacon_lat").val(mx);
              $("#beacon_lng").val(my);
            }
        }
//  Finally,  load  the  map:
mapDataObject.loadCommunity(24657);
}
 function onMapChanged(e){
   if(beacon !== undefined ){
   mapObject.addMarker(beacon.lat,beacon.lng,mapObject.currentLevel().id,"test",micello.maps.markertype.NAMED);
 }
 }
  </script>
<%= render 'form' %>
