<%###
# Copyright (c) 2015, Upnext Technologies Sp. z o.o.
# All rights reserved.
#
# This source code is licensed under the BSD 3-Clause License found in the
# LICENSE.txt file in the root directory of this source tree. 
###%>

<% content_for :header_breadcrumbs do %>
  <span><%= link_to t('.title'), beacons_path %></span>
  <span><%= t('.action') %></span>
<% end %>
<%= javascript_include_tag "micelloHelper" %>
<script>
micello.maps.init("rrVDMQe2qjBRuJP5dXv59kAeK77SD7",mapInit);
function  mapInit()  {
var  mapControl  =  new  micello.maps.MapControl('beacon-map');
window.mapDataObject  =  mapControl.getMapData();
//  Finally,  load  the  map:
mapDataObject.loadCommunity(24657);
}
  </script>
<%= render partial: 'form' %>
